<!DOCTYPE html>
<html>
  <head>
    <title>Calculator Web App</title>
  </head>
  <body>
    <h1>Calculator Web App</h1>
    <form action="/calculate" method="POST">
      <label>Number 1:</label>
      <input type="number" name="num1" required /><br />

      <label>Number 2:</label>
      <input type="number" name="num2" required /><br />

      <label>Operation:</label>
      <select name="operation" required>
        <option value="add">Addition</option>
        <option value="subtract">Subtraction</option>
        <option value="multiply">Multiplication</option>
        <option value="divide">Division</option></select
      ><br />

      <button type="submit">Calculate</button>
    </form>
  </body>
</html>
